body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;

}

.content {
    max-width: 370px;
    margin: 70px auto 0 auto;
    padding: 10px;
}

.box {
    border: 1px solid white;
    padding: 10px 15px;
}


.headline {
    width: 100%;
}

.headline > div {
    width: 120px;
    float: right;
    text-align: right;
}

.headline > div > h3 {
    margin: 0;
}

.headline > div > h5 {
    margin: 0;
    font-weight: normal;
}

.headline > img {
    border: 1px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-top: -40px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.headline > img:hover {
    border-radius: 10px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}


.text > h4 {
    margin: 20px 0 0 0;
}

.text > p {
    margin: 10px 0;
}


.footer {
    text-align: right;
}

a {
    color: white !important;
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}